/* ###### Basics ###### */

body {
  font: normal 16px/1.5 'Helvetica Neue',Helvetica,sans-serif;
  color:white;
  }

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  }

p, ul {
  margin-bottom: 15px;
  }

.description li {
  margin-left: 20px;
  margin-bottom: 5px;
  list-style: disc;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  }

a:hover { text-decoration: underline;}

#map {
  position:absolute;
  top:0;
  left:0;
  right:0;
bottom:0;
/*  height:700px;
*/  z-index: 0;
  }

/* ###### Content Box ###### */

#description.button.map {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  padding:4px;
  height:50px;
  background:#fff;
-webkit-box-shadow: 0px 2px 16px rgba(20, 20, 20, 0.3);
-moz-box-shadow:    0px 2px 16px rgba(20, 20, 20, 0.3);
box-shadow:         0px 2px 16px rgba(20, 20, 20, 0.3);
}

#description.map h3{
   padding:4px;
   margin:4px;
}

div.attribution {
  position:absolute;
  background-color:rgba(255, 255, 255, 0.7);
  color:#333;
  font-size:11px;
  line-height:20px;
  z-index:99999;
  text-align:center;
  padding:0 5px;
  bottom:0;
  left:0;
  }

.description::-webkit-scrollbar-thumb,
.description::scrollbar-thumb {
  background: white;
}
.description::-webkit-scrollbar,
.description::scrollbar {
background: transparent;
width: 10px;
  }


.zoombox-box { background-color:#fff}

.zoomer {
  top:15px;
  left: 15px;
}
.zoomin { left: 44px;}


.marker-popup {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.marker-popup::before {
  border-top-color: white !important;
  border-width: 18px;
  margin-left: -18px;
  }
li.map { 
	font-size:13px;
	}
li.map span { 
	font-weight:600;
	}
	
ul.map { 
	list-style-type:none;}

	* {
	  @include box-sizing(border-box);
	}

	$pad: 20px;

	.grid {
	  background: white;
	  margin: 0 0 $pad 0;

	  &:after {
	    /* Or @extend clearfix */
	    content: "";
	    display: table;
	    clear: both;
	  }
	}

	[class*='col-'] {
	  float: left;
	  padding-right: $pad;
	  .grid &:last-of-type {
	    padding-right: 0;
	  }
	}
	.col-1-3 {
	  width: 33.33%;
	}

	/* Opt-in outside padding */
	.grid-pad {
	  padding: $pad 0 $pad $pad;
	  [class*='col-']:last-of-type {
	    padding-right: $pad;
	  }
	}